<!DOCTYPE html>
html(lang="en")
head 
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="../css/main.css"  type="text/css" )
body 
    span.element Всем привет, 
        | я спан!
    div Я убердив!!!
    script(src="../js/main.js")