.footer
	.container
		.row
			.col-lg-4
				.contacts-info
					.contacts-info__title Пишите нам письма
					a.contacts-info__mail(href="mailto:lebedeva@kvartira12.com") lebedeva@kvartira12.com
					a.contacts-info__phone(href="tel:81234567890") 8 (123) 456-78-90
			.col-lg-4
				.slogan Все мы соседи...
			.col-lg-4
				ul.footer-menu
					li.footer-menu__item
						a.footer-menu__link(href="#") О проекте
					li.footer-menu__item
						a.footer-menu__link(href="#") Команда
					li.footer-menu__item
						a.footer-menu__link(href="#") Партнеры