<!DOCTYPE html>
html(lang="en")
	head 
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet" href="../css/main.css"  type="text/css" )
		block page-scripts
	body
		include mixins
		block wrapper
		footer All credits to LastObserver