<!DOCTYPE html>
html(lang="en")
	head 
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet" href="../css/main.css"  type="text/css" )
		block page-scripts
	body
		div.containerblock
			include mixins
			include header
			block wrapper
			include footer