mixin news-preview()
	article
		h2: a(href="#") Театр-студия "Быть" взял гран-при
		p Ай молодцы!

mixin article(a)
	.article&attributes(attributes)
		if a.article
			each atext in a.article
				h1.article__headline!= atext.headline
				p.article__intro!= atext.intro