$blue-color: blue;
$pink-color: pink;
$base-color: #ff980b;
$base-font-size: 14px;
$base-line-height: 24px;
@import './parts/header';
@import './parts/footer';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&subset=cyrillic';

html{
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.menu {
	float: right;
	padding: 0;
	margin-top: 50px;
	margin-right: 50px;
	overflow: hidden;
	border: solid 4px #000;
	height: 70px;
	width: 40%;
	display: inline-block;
	box-sizing: content-box;
	background-color: #ef7101;
	& li { 
		float: left;
		display: block;
		box-sizing: content-box;
		width: 33.33%;
		& a {
			display: block;
			text-align: center;
			height: 100%;
			width: 100%;
			line-height: 70px;
			vertical-align: middle;
			color: #000;
			font-weight: 400;
			font-size: 30px;
			font-family: 'Lobster', cursive;
			text-decoration: none;
			&:hover{
				background-color: #610e04;
				color: #ff980b;
			}}
	}
}

.content {
	margin: 10px;
	padding: 10px;
}

.article {
	margin: 10px;
	border: solid 4px;
	padding: 2%;
	&__headline {
		font-family: 'Lobster', cursive;
	}
	&__intro {
		width: 100%;
		font-family: 'Roboto Slab', serif;
		font-size: 16px;
	}
}