extends templates/layout
block wrapper
	//- a.elem(href="http://google.com" target="_blank" title="Отсюда и прям в гугл") Имеющийся элемент
	//- 	div.animation-block Какой-то элемент в списке 1
	//- 	div.animation-block Какой-то элемент в списке 2
	//- 	div.animation-block Какой-то элемент в списке 3
	//- 	div.animation-block Какой-то элемент в списке 4
	//- 	div.animation-block Какой-то элемент в списке 5
	//- 	div.animation-block Какой-то элемент в списке 6
	//- 	div.animation-block Какой-то элемент в списке 7
	//- 	div.animation-block Какой-то элемент в списке 8
	//- 	div.animation-block Какой-то элемент в списке 9
	//- 	div.animation-block Какой-то элемент в списке 10
	div.aniparent
		div.animation-block