extends templates/layout
block wrapper
	img.logo-google(src="images/logo-google.png")
	img.logo-google(src="images/logo-google.png")
	img.logo-google(src="images/logo-google.png")
	img.logo-google(src="images/logo-google.png")