extends templates/layout
block wrapper
	//- img.logo-google(src="images/logo-google.png")
	//- img.logo-google(src="images/logo-google.png")
	//- img.logo-google(src="images/logo-google.png")
	//- img.logo-google(src="images/logo-google.png")
	img.clockface(src="images/clockface.png")
	img.hourarrow(src="images/hourarrow.png")
	img.minutearrow(src="images/minutearrow.png")
	img.secondarrow(src="images/secondarrow.png")