extends templates/layout
block wrapper
	div.content
		+article({
			article: [
				{
					headline: 'Добро пожаловать!',
					intro: 'Для начала вот вам небольшая история: <br> жили у бабуси <br> два веселых гуся: <br> один — в черных одеяниях, с изрезанной чешуйчатой головой и выжженной пентаграммой на груди. с губ его сочилась алая кровь, а руки были покрыты лопающимися ежесекундно гнойными язвами и бордовыми опухолями, <br> другой — с черными глазами, в зрачках которых корчились уродливые пленники преисподней. дыхание этого чудища пробирало насквозь, вызывая фантомные боли, панику и неутолимое желание перерезать себе горло, чтобы убежать от всего этого сумасшествия в мир иной. <br> два веселых гуся. <br> Такие вот дела. А теперь посмотрите на все, что стряслось, это интересно! '
				}
			]
		})
		div.recentnews
			h2.announcement Последние новости:
			- i=0;
			while i<2
				+news-preview()
				- i++;	