extends templates/layout
block wrapper
	div.container-fluid.content
		+article({
			article: [
				{
					headline: 'Каталог',
					intro: 'А здесь вы можете посмотреть на то, что мы вам можем продать. Или не можем. Да и не важно это, ведь все мы лишь маленькие частицы, состоящие из пустоты, бесцельно летящие в никуда в бесконечно расширяющейся вселенной. <br> И да, если что, щелкалку страниц никто так и не починил. '
				}
			]
		})
		div.row
			+catalog-block({
				input: [
					{
						image: 'images/sword.png',
						name: 'Заколдованный проклятый меч разочарования',
						desc: 'Меч, добытый из простенькой пещерки под городом, охранявшейся забытым всеми гоблином-алкоголиком. <br> ',
						price: '1.000 золотых'
					}
				]
			})
			+catalog-block({
				input: [
					{
						image: 'images/ax.png',
						name: 'Ржавая тупая  хрупкая секира несправедливости',
						desc: 'Только что выкованная секира кузнеца, годами учившего все тонкости ремесла, в надежде стать уважаемым кузнецом. <br> ',
						price: '3.000 золотых'
					}
				]
			})
			+catalog-block({
				input: [
					{
						image: 'images/scythe.png',
						name: 'Обычная коса',
						desc: 'Просто обычная коса. У нее даже нет истории. Да, этот парень, делающий описания совсем обленился. Впрочем, какая разница, мы ему даже не платим. <br> ',
						price: '10.000 золотых'
					}
				]
			})
		div.row
			div.selector.text-center.col-md-2.col-center-block
				- i=1;
				while i<10
					+page-selector({
						input: [
							{
								pagenum: i,
								current: 1
							}
						]
					})
					- i++;